<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= action %><%= locals.pokemon && '|' + locals.pokemon.name %>
    </title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="root">
      <%- include('./header.ejs') %>
      <form class="edit_form" method="post">
        <div class="form_grid">
          <label> name: </label>
          <input
            name="name"
            type="text"
            value="<%= locals.pokemon && locals.pokemon.name %>"
          />

          <label for="type">type:</label>
          <input
            name="type"
            id="type"
            type="text"
            value="<%= locals.pokemon && locals.pokemon.type %>"
          />

          <label for="hp">hp:</label>
          <input
            name="hp"
            id="hp"
            type="text"
            value="<%= locals.pokemon && locals.pokemon %>"
          />

          <label for="attack">attack:</label>
          <input
            name="attack"
            id="attack"
            type="text"
            value="<%= locals.pokemon && locals.pokemon.attack %>"
          />

          <label for="notes">notes:</label>
          <textarea name="notes" id="notes">
<%= locals.pokemon && locals.pokemon.notes %>
          </textarea>
        </div>
        <button><%= action %></button>
      </form>
    </div>
  </body>
</html>
